p {
    color: red;
}

a {
    color: black;
}

.page-link {

    color: black;

    border: 1px solid lightslategrey;

}

.page-item.active .page-link {

    color: white;

    background-color: lightslategrey;

    border: 1px solid lightslategrey;
}


.page-link:focus, .page-link:hover {

    color: white;

    text-decoration: none;

}

.col {
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
